<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GreenHouseConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GreenHouseConfig.Properties.Settings>
            <setting name="Connect" serializeAs="String">
                <value>Соединить</value>
            </setting>
            <setting name="Connected" serializeAs="String">
                <value>Соединено</value>
            </setting>
            <setting name="WaitPortData" serializeAs="String">
                <value>Ждём данные из порта...</value>
            </setting>
            <setting name="Error" serializeAs="String">
                <value>Ошибка</value>
            </setting>
            <setting name="WindowOpen" serializeAs="String">
                <value>открыты</value>
            </setting>
            <setting name="WindowClosed" serializeAs="String">
                <value>закрыты</value>
            </setting>
            <setting name="WindowOpening" serializeAs="String">
                <value>открываются</value>
            </setting>
            <setting name="WindowClosing" serializeAs="String">
                <value>закрываются</value>
            </setting>
            <setting name="NoData" serializeAs="String">
                <value>&lt;нет данных&gt;</value>
            </setting>
            <setting name="Manual" serializeAs="String">
                <value>ручной</value>
            </setting>
            <setting name="Automatic" serializeAs="String">
                <value>авто</value>
            </setting>
            <setting name="NotSelected" serializeAs="String">
                <value>&lt;не выбрано&gt;</value>
            </setting>
            <setting name="SettingsSaved" serializeAs="String">
                <value>Настройки успешно прописаны в контроллер!</value>
            </setting>
            <setting name="SaveSettings" serializeAs="String">
                <value>Запись настроек</value>
            </setting>
            <setting name="ErrorSaveSettings" serializeAs="String">
                <value>Запись настроек не удалась, повторите попытку ещё раз.</value>
            </setting>
            <setting name="Info" serializeAs="String">
                <value>Информация</value>
            </setting>
            <setting name="PhoneNumberHint" serializeAs="String">
                <value>Номер, команды с которого будут приниматься и обрабатываться.
Все входящие СМС с других номеров будут проигнорированы.</value>
            </setting>
            <setting name="IncomingNumber" serializeAs="String">
                <value>Входящий номер</value>
            </setting>
            <setting name="Off" serializeAs="String">
                <value>&lt;выключено&gt;</value>
            </setting>
            <setting name="WeekDays" serializeAs="String">
                <value>По дням недели (все каналы одновременно)</value>
            </setting>
            <setting name="Lux" serializeAs="String">
                <value> люкс</value>
            </setting>
            <setting name="StateOn" serializeAs="String">
                <value>&lt;вкл&gt;</value>
            </setting>
            <setting name="StateOff" serializeAs="String">
                <value>&lt;выкл&gt;</value>
            </setting>
            <setting name="Play" serializeAs="String">
                <value>Работа</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>Пауза</value>
            </setting>
            <setting name="PlayTooptip" serializeAs="String">
                <value>Продолжить общение с контроллером</value>
            </setting>
            <setting name="PauseTooltip" serializeAs="String">
                <value>Приостановить общение с контроллером</value>
            </setting>
            <setting name="WeekDaysChannels" serializeAs="String">
                <value>По дням недели (раздельное управление каналами)</value>
            </setting>
            <setting name="WeekDaysColumnText" serializeAs="String">
                <value>Дни недели</value>
            </setting>
            <setting name="NotSet" serializeAs="String">
                <value>&lt;не задано&gt;</value>
            </setting>
            <setting name="WeekDay1" serializeAs="String">
                <value>Понедельник</value>
            </setting>
            <setting name="WeekDay2" serializeAs="String">
                <value>Вторник</value>
            </setting>
            <setting name="WeekDay3" serializeAs="String">
                <value>Среда</value>
            </setting>
            <setting name="WeekDay4" serializeAs="String">
                <value>Четверг</value>
            </setting>
            <setting name="WeekDay5" serializeAs="String">
                <value>Пятница</value>
            </setting>
            <setting name="WeekDay6" serializeAs="String">
                <value>Суббота</value>
            </setting>
            <setting name="WeekDay7" serializeAs="String">
                <value>Воскресенье</value>
            </setting>
            <setting name="WiFiModeHelpTitle" serializeAs="String">
                <value>Режим работы Wi-Fi</value>
            </setting>
            <setting name="WiFiModeHelp" serializeAs="String">
                <value>В режиме "точка доступа" соединение 
с контроллером происходит напрямую.

В режиме "точка доступа + клиент" контроллер 
соединяется с вашей точкой доступа, и к нему 
можно подключиться через вашу точку доступа.</value>
            </setting>
            <setting name="Question" serializeAs="String">
                <value>Подтверждение</value>
            </setting>
            <setting name="SetControllerTime" serializeAs="String">
                <value>В контроллер будет прописано текущее время 
с компьютера. Продолжить?</value>
            </setting>
            <setting name="PasswordTooShort" serializeAs="String">
                <value>Пароль к точке доступа должен быть не менее 8 символов длиной!</value>
            </setting>
            <setting name="AskWIFIIPCaption" serializeAs="String">
                <value>IP-адреса WI-FI</value>
            </setting>
            <setting name="WiFiBusy" serializeAs="String">
                <value>Модуль занят обработкой команд, повторите позднее.</value>
            </setting>
            <setting name="ErrorWiFiIP" serializeAs="String">
                <value>Не удалось получить данные от модуля Wi-Fi!</value>
            </setting>
            <setting name="WiFiIPFormat" serializeAs="String">
                <value>Адрес точки доступа модуля: {0}
Адрес, выданный роутером: {1}</value>
            </setting>
            <setting name="Confirmation" serializeAs="String">
                <value>Подтверждение</value>
            </setting>
            <setting name="ConfirmLoadRules" serializeAs="String">
                <value>При загрузке правил с контроллера все текущие
правила будут удалены. Продолжить?</value>
            </setting>
            <setting name="ErrorGetRules" serializeAs="String">
                <value>Не удалось получить список правил!</value>
            </setting>
            <setting name="RulesGetOk" serializeAs="String">
                <value>Правила успешно загружены из контроллера!</value>
            </setting>
            <setting name="RuleSpyTemplate" serializeAs="String">
                <value>за {0} модуля {1}</value>
            </setting>
            <setting name="SpyTemp" serializeAs="String">
                <value>температурой</value>
            </setting>
            <setting name="SpyLight" serializeAs="String">
                <value>освещенностью</value>
            </setting>
            <setting name="SpyHumidity" serializeAs="String">
                <value>влажностью</value>
            </setting>
            <setting name="OpenWindowsAction" serializeAs="String">
                <value>открываем окна</value>
            </setting>
            <setting name="CloseWindowsAction" serializeAs="String">
                <value>закрываем окна</value>
            </setting>
            <setting name="LightOnAction" serializeAs="String">
                <value>включаем досветку</value>
            </setting>
            <setting name="LightOffAction" serializeAs="String">
                <value>выключаем досветку</value>
            </setting>
            <setting name="YES" serializeAs="String">
                <value>да</value>
            </setting>
            <setting name="NO" serializeAs="String">
                <value>нет</value>
            </setting>
            <setting name="RulesMemoryTemplate" serializeAs="String">
                <value>Информация по занятой правилами памяти 
является приблизительной и предназначена 
только для справочных целей:

    1. В EEPROM занято: {0} байт;
    2. В RAM занято: {1} байт.</value>
            </setting>
            <setting name="DeleteSpecialRuleConfirmation" serializeAs="String">
                <value>Вы уверены, что хотите удалить служебное правило?

Служебные правила генерируются другими модулями
при редактировании их настроек, и удаление такого
правила может привести к неправильной работе конроллера.

Продолжить?</value>
            </setting>
            <setting name="AddRule" serializeAs="String">
                <value>Добавление нового правила</value>
            </setting>
            <setting name="EditRule" serializeAs="String">
                <value>Редактирование правила</value>
            </setting>
            <setting name="RulesLimitReached" serializeAs="String">
                <value>Превышен лимит в 20 правил, добавление нового правила невозможно!</value>
            </setting>
            <setting name="TemperatureHint" serializeAs="String">
                <value>"%TO%" - взять температуру открытия из настроек.
"%TC%" - взять температуру закрытия из настроек.</value>
            </setting>
            <setting name="LightHint" serializeAs="String">
                <value>"-2" - работать без показаний с датчика освещенности, только по условиям времени.</value>
            </setting>
            <setting name="WindowsHint" serializeAs="String">
                <value>"ALL" - все форточки, "3" - форточка номер 4, "0-2" - форточки с первую по третью.</value>
            </setting>
            <setting name="PinHint" serializeAs="String">
                <value>"12", "9" - один пин, "2,3,4" - номера пинов через запятую.</value>
            </setting>
            <setting name="OnlyLatinLettersHint" serializeAs="String">
                <value>Только латинские буквы или цифры, пожалуйста.</value>
            </setting>
            <setting name="SpyNone" serializeAs="String">
                <value>ни за чем не следим</value>
            </setting>
            <setting name="PinOffAction" serializeAs="String">
                <value>выключаем пины</value>
            </setting>
            <setting name="PinOnAction" serializeAs="String">
                <value>включаем пины</value>
            </setting>
            <setting name="RuleName" serializeAs="String">
                <value>Имя правила</value>
            </setting>
            <setting name="EnterRuleName" serializeAs="String">
                <value>Пожалуйста, введите имя правила.</value>
            </setting>
            <setting name="RuleNameExists" serializeAs="String">
                <value>Правило с таким именем уже существует!</value>
            </setting>
            <setting name="EnterSpyData" serializeAs="String">
                <value>Введите показания, за которыми надо следить!</value>
            </setting>
            <setting name="EnterAdditionalParams" serializeAs="String">
                <value>Пожалуйста, введите дополнительные параметры!</value>
            </setting>
            <setting name="WhichWindows" serializeAs="String">
                <value>Какие форточки:</value>
            </setting>
            <setting name="PinNumbers" serializeAs="String">
                <value>Номера пинов:</value>
            </setting>
            <setting name="OpenWindows" serializeAs="String">
                <value>открыть форточки</value>
            </setting>
            <setting name="CloseWindows" serializeAs="String">
                <value>закрыть форточки</value>
            </setting>
            <setting name="LightOn" serializeAs="String">
                <value>включить досветку</value>
            </setting>
            <setting name="LightOff" serializeAs="String">
                <value>выключить досветку</value>
            </setting>
            <setting name="PinsOn" serializeAs="String">
                <value>включить пины МК</value>
            </setting>
            <setting name="PinsOff" serializeAs="String">
                <value>выключить пины МК</value>
            </setting>
            <setting name="StateModule" serializeAs="String">
                <value>Модуль показаний температуры</value>
            </setting>
            <setting name="HumidityModule" serializeAs="String">
                <value>Модуль показаний влажности</value>
            </setting>
            <setting name="LightModule" serializeAs="String">
                <value>Модуль показаний освещенности</value>
            </setting>
            <setting name="GreaterThan" serializeAs="String">
                <value>больше чем</value>
            </setting>
            <setting name="GreaterOrEqual" serializeAs="String">
                <value>больше, либо равны</value>
            </setting>
            <setting name="LessThan" serializeAs="String">
                <value>меньше чем</value>
            </setting>
            <setting name="LessOrEqual" serializeAs="String">
                <value>меньше, либо равны</value>
            </setting>
            <setting name="SpyDelta" serializeAs="String">
                <value>дельтой показаний датчиков</value>
            </setting>
            <setting name="DeltaModule" serializeAs="String">
                <value>Модуль дельты показаний датчиков</value>
            </setting>
            <setting name="SpyTemp2" serializeAs="String">
                <value>температур</value>
            </setting>
            <setting name="SpyHumidity2" serializeAs="String">
                <value>влажности</value>
            </setting>
            <setting name="SpyLight2" serializeAs="String">
                <value>освещенности</value>
            </setting>
            <setting name="SameDeltaExists" serializeAs="String">
                <value>Дельта с такими настройками уже существует!</value>
            </setting>
            <setting name="DeltaSameSensor" serializeAs="String">
                <value>Дельта между одним и тем же датчиком недопустима!</value>
            </setting>
            <setting name="DeltaSelectModules" serializeAs="String">
                <value>Выберите два модуля для создания дельты!</value>
            </setting>
            <setting name="DeltaLimitReached" serializeAs="String">
                <value>Более двадцати дельт добавлять нельзя, извините.</value>
            </setting>
        </GreenHouseConfig.Properties.Settings>
    </applicationSettings>
</configuration>