BODY {
  font-family: Verdana;
  font-size:14px;
}

H1, H2, H3, H4, H5, H6 {
margin-top: 0px;
padding:6px;
background-color: #F0F0F0;
padding-left:10px;
}

LEGEND {
font-weight:bold;
font-size:150%;
padding-left:10px;
padding-right:10px;
}

LABEL {
  cursor: pointer;
}

.peity {
  float: right;
}

.sensor_data_float{
  float:left;
}

.row:hover .row_item {
    background-color: #E0E0E0;
}

.padding_around8px {
  padding:8px;
}

.left_align {
text-align:left;
}

.padding_top8px {
  padding-top:8px;
}

.half {
  width:50%;
  float:left;
  text-align:center;

}

.half_box {
  padding:5px;
}

.half_right {
  padding-right:0px;
}

.half_left {
  padding-left:0px;
}



.big {
  font-size:300%;
}

/* бокс отображения статистики с контроллера */
.controller_stats {
}
/* бокс отображения свободной памяти*/
.freeram {
}

/* бокс отображения времени работы*/
.uptime {
}


/* класс бокса отображения информации по контроллеру */
.controller_info_box {

}

.left_menu {
  float:left;
  width:200px;
  padding-right:20px;
}

.content {
  float: left;
  width: calc(100% - 200px);
}

/* класс рисунка логотипа */
.logo {
  vertical-align:middle;
  padding-right:10px;
}

/* класс отображения ошибки */
.error {
  padding: 6px;
  padding-left:10px;
}

/* класс для установки курсора в виде руки */
.pointer {
cursor: pointer;
}

/* класс, имитирующий оформление ссылки */
.link {
  color:#909090;
  text-decoration:underline;
}
/* класс для скрытых объектов */
.hdn
{
  display: none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

/* класс пункта меню слева */
.menuitem {
cursor: pointer;
border:1px solid #D0D0F0;
margin-bottom:6px;
padding:4px;
}

.menuitem:hover {

background-color:#b0b0b0;
color:#FFFFFF;


}

/* класс выделенного пункта меню слева */
.menuitem_selected {
background-color:#b0b0b0;
font-weight:bold;
color:#FFFFFF;
}

/* класс "нет данных" от датчика */
.no_data {
color: #D00000;
}

/* класс "ручной режим работы" */
.manual_mode {
color: #D00000;
}

/* класс "автоматический режим работы" */
.auto_mode {
color: #00D000;
}

/* DIV-ячейка таблицы */
.row_item {
display: table;
float:left;
border:1px solid #D0D0F0;
min-width:20px;
padding:2px;
}

/* DIV-строка таблицы */
.row {
clear: left;
}

/* класс "индекс датчика" */
.sensor_index {
text-align:center;
color: #808080;
}

/* класс "тип показания" */
.type {
font-weight: bold;
}

/* класс "имя модуля" */
.module_name {
font-weight:normal;

}

/* класс "данные с датчика" */
.sensor_data {
}

/* класс жирного шрифта */
.bold {
  font-weight:bold;
}
/* класс главного контента страницы */
.page_content {
margin-left:20px;
float:left:
width: calc(100%-220px);
}

#WATER_CHANNELS_LIST .row .row_item:nth-child(1) {
  width:30px;
}
#WATER_CHANNELS_LIST .row .row_item:nth-child(2) {
  width:350px;
}
#WATER_CHANNELS_LIST .row .row_item:nth-child(3) {
  width:100px;
}
#WATER_CHANNELS_LIST .row .row_item:nth-child(4) {
  width:100px;
}


/* ширина столбцов в списке дельт */
#DELTA_LIST .row .row_item{
width: 15%;

}

/* ширина столбцов в списке температур */
#TEMPERATURE_LIST .row .row_item {
width:200px;
}

/* ширина столбцов в заголовке списка температур */
#TEMPERATURE_HEADER .row_item {
width:200px;
}

/* ширина столбцов в списке влажностей */
#HUMIDITY_LIST .row .row_item {
width:200px;
}

/* ширина столбцов в заголовке списка влажностей */
#HUMIDITY_HEADER .row_item {
width:200px;
}

/* ширина столбцов в списке освещённостей */
#LUMINOSITY_LIST .row .row_item {
width:200px;
}

/* ширина столбцов в заголовке списка освещённостей */
#LUMINOSITY_HEADER .row_item {
width:200px;
}

/* ширина столбцов в списке влажностей почвы */
#SOIL_LIST .row .row_item {
width:200px;
}

/* ширина столбцов в заголовке списка влажностей почвы */
#SOIL_HEADER .row_item {
width:200px;
}

#CC_LIST .row .row_item {
width:300px;
}

/* ширина столбца "действия" в списках */
#TEMPERATURE_LIST .row .actions,
#HUMIDITY_LIST .row .actions,
#LUMINOSITY_LIST .row .actions,
#SOIL_LIST .row .actions,
#DELTA_LIST .row .actions,
#CC_LIST .row .actions,
#WATER_CHANNELS_LIST .row .actions
{
  width: auto;
  text-align: center;
}
