BODY, TD, DIV, SPAN, P, FONT 
{
	font-weight:normal;
	font-family:Arial;
	color:#000000;
	font-size:12px;
}
LABEL
{
	cursor:pointer;
}
.hdn
{
	display:none;
}
h1,h2,h3,h4
{
	color:#90d70f;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
}
h1
{
	font-size:24px;
}
h2
{
	font-size:20px;
}
h3
{
	font-size:16px;
}
h4
{
	font-size:12px;
}
A 
{
color:#0d8ed8;
font-weight:normal;
font-family:Arial;
font-size:12px;
text-decoration:underline;
outline: none;
}

A:visited 
{
color:#119ae9;
font-weight:normal;
font-family:Arial;
font-size:12px;
text-decoration:underline;
outline: none;
}

A:hover 
{
color:#0d8ed8;
font-weight:normal;
font-family:Arial;
font-size:12px;
text-decoration:none;
outline: none;
}
A.sml
{
font-size:10px;
}

.darkred
{
color:#800000;
font-weight:bold;
}

.menu
{
float:left;
width:20%;
padding-top:0px;
}
.content
{
float:left;

width:75%;
clear:right;
padding:5px;
}
.mi
{
text-align:right;
background-color:#B5CFCE;
margin-bottom:2px;
padding:5px;
color:#000000;
font-weight:bold;
font-size:140%;
cursor:pointer;
}
.mis
{
background-color:#F34448;
color:#f0f0f0;
}
.cpy
{
font-size:10px;
color:#B0B0B0;
clear:left;
text-align:right;
margin-top:20px;
}
.hdn
{
display:none;
}
.cth TD
{
background-color:#F34448;
color:#f0f0f0;
font-size:140%;
font-weight:bold;
}
.ctr TD
{
background-color:#B5CFCE;
color:#000000;
}